.app-stat > div {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.app-stat > div > i {
  display: inline-block;
  width: 30px;
  text-align: center;
}
